{% extends 'auctions/layout.html' %}
{% block title %}New Listing{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h1>Create Listing</h1>
    <br/>
    <br/>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class='btn-secondary'>Create</button>
        </form>
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        You are not logged in!
    </div>
    <p>Please <a class="btn btn-secondary" href="{% url 'login' %}">Login</a> or 
        <a class="btn btn-secondary" href="{% url 'register' %}">Register</a>
    </p>
{% endif %}
    <!-- javascript to assign the value to the hidden field ensuring that logged on user is updated as seller -->
    <script>
        var seller = "{{ user.id }}";
        document.getElementById("sellerID").value
                    = seller;
    </script>
{% endblock %}