{% extends 'auctions/layout.html' %}
{% block title %}Update Listing{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Edit Listing</h1>
        <br/>
        <br/>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class='btn-warning'>Update</button>
            </form>
        </div>

    {% else %}
        <div class="alert alert-warning" role="alert">
            You are not logged in!
        </div>
        <p>Please <a class="btn btn-secondary" href="{% url 'login' %}">Login</a> or 
            <a class="btn btn-secondary" href="{% url 'register' %}">Register</a>
        </p>
    {% endif %}
{% endblock %}